<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Chelsea Fan!</title>
    <style>
        body {
            background-color: #034694;
            color: #ffffff;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 50px;
        }
        img {
            width: 200px;
        }
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.2em;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <img src="https://upload.wikimedia.org/wikipedia/en/c/cc/Chelsea_FC.svg" alt="Chelsea FC Logo">
    <h1>Welcome to The FAMOUS CHELSEA FC!</h1>
    <p>"Blue is the Colour, Football is the Game!"</p>
    <p>This app is monitored with Prometheus & Grafana.</p>
</body>
</html>
